<div class="detailsContainer">        
	<p class="detailsHeader">DETAILS</p>
    <p class="detailText">
    	<strong>EntityName</strong> : {{EntityName}} <br>
      	<strong>Description</strong> : {{Description}} <br>
      	<strong>Image</strong> : {{Image}} <br>
      	<strong>Thumbnail</strong> : {{Thumbnail}} <br>
      	<strong>References</strong> : {{References}} <br>
      	<strong>RdfTypes</strong> : {{RdfTypes}} <br>
      	<strong>Label</strong> : {{Label}} <br>
      	<strong>EntityType</strong> : {{EntityType}} <br>
      	<strong>Website</strong> : {{Website}} <br>
      	<strong>Sentiment</strong> : {{Sentiment}} <br>
      	<strong>LinkedDataSource</strong> : {{LinkedDataSource}} <br>
      	<strong>SocialMediaSource</strong> : {{SocialMediaSource}} <br>
    </p>
</div>