html { 
  background: url(../img/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centerBtn {
    position: absolute;
    top: 50%;
    left: 45%;
}

.btn.outline {
    background: rgba(255,255,255,0.5);
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}

.sentimentStatment {
	position: absolute;
	top: 9%;
	left: 30%;
	color: white;
	font-weight: bolder;
	font-size: 200%;
}

.card {
 	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {	
  	margin: 2%;
	box-sizing: border-box;
	border-radius: 2px;
	background-clip: padding-box;
	background: rgba(255,255,255,0.75);
	width: 16%;
	padding: 2%;
	border-top: blue 5px solid;
	float: left;
	height: 150px;
}

.detailsContainer {
	border: 2px solid white;
	border-radius: 10px;
	position: absolute;	
	margin: 5%;
	padding: 5%;
}

.detailsHeader {
	position: absolute;
	top: 4%;
	left: 45%;
	color: white;
	font-weight: bolder;
	font-size: 200%;
}

.detailText {
	color: white;
	/* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}